body {
    color: #fff;
    background: url("../img/bg.jpg");
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    text-align: center;
    margin: 0;
}

div {
    background-color: #A86A4B80;
    margin: 0 10% 0 10%;
}

header {
    background: #00000080;
}

.header-div {
    margin: 0 30% 0 30%;
    background: #FFDD9B;
    border-radius: 0 0 10px 10px;
}

a {
    color: #fff;
    text-decoration: none;
}

.menu {
    margin: 0;
    list-style: none;
    padding-left: 0;
}

.menu li,
.menu a {
    display: inline-block;
}

.menu a {
    color: #777;
    font-size: 14px;
    text-align: center;
    padding: 23px 10px;
}

.menu a:hover {
    color: #8a8a8a;
}

article {
    padding: 80px 0;
}

h1 {
    text-shadow: 2px 2px 0px black;
    margin: 0;
}

h1 {
    font-size: 75px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

h2 {
    font-size: 24px;
    line-height: 32px;
    font-weight: normal;
}

.btn {
    background-color: rgba(253, 104, 91, 1);
    font-size: 17px;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 16px;
    padding: 20px 24px;
    margin: 34px 0;
}

.btn:hover {
    background-color: rgba(253, 104, 91, 0.9);
}

p {
    font-size: 12px;
    line-height: 18px;
    margin: 0;
}

.login-input {
    text-align: left;
    padding: 5px;
    width: 50%;
    margin: 0 25% 0 25%;
}

.login-article {
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
}

#login-email-label,
#login-password-label {
    width: 150px;
}

.login-button {
    margin: 20px;
}

.bookTable {
    margin: 50px;
    margin-right: 100px;
    color: black;
}

.name-input {
    display: flex;
}