<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Informačný systém knižnice</title>
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{css/style.css}" type="text/css"/>
    <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">
</head>

<body>

<header>
    <nav>
        <ul class="menu">
            <li><a href="/">Domov</a></li>
            <li><a href="/bookList"><strong>Knižnica</strong></a></li>
            <li><a href="/comments">Komentáre</a></li>
            <li><a href="#">Moje výpožičky</a></li>
            <li><a href="/about">O nás</a></li>
            <li><a href="#">Kontakt</a></li>
            <li><a href="/login" th:text="${loginButton}">Prihlásiť sa</a></li>
        </ul>
    </nav>
</header>

<article>
    <h1>Dostupné knihy</h1>


    <table class="w3-table-all w3-card-4 bookTable">
        <thead>
        <tr>
            <th> Obálka</th>
            <th> Názov</th>
            <th> Autor</th>
            <th> Rok vydania</th>
            <th> Vydavateľstvo</th>
            <th> ISBN</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${bookList}">
            <td><img th:src="${book.pictureLink}" height="150px"></td>
            <td><a th:href="${book.commentLink}" th:text="${book.title}"></a></td>
            <td><span th:text="${book.author}"></span></td>
            <td><span th:text="${book.year}"></span></td>
            <td><span th:text="${book.publisher}"></span></td>
            <td><span th:text="${book.ISBN}"></span></td>
        </tr>
        </tbody>
    </table>
</article>
<footer>COPYRIGHT</footer>

</body>

</html>