<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Informačný systém knižnice</title>
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{css/style.css}" type="text/css"/>
    <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">
</head>

<body>

<header>
    <nav>
        <ul class="menu">
            <li><a href="/">Domov</a></li>
            <li><a href="/bookList"><strong>Knižnica</strong></a></li>
            <li><a href="#">Komentáre</a></li>
            <li><a href="#">Moje výpožičky</a></li>
            <li><a href="/about">O nás</a></li>
            <li><a href="#">Kontakt</a></li>
            <li><a href="/login" th:text="${loginButton}">Prihlásiť sa</a></li>
        </ul>
    </nav>
</header>

<article>
    <h3 th:text="${title}">Title</h3>


    <table class="w3-table-all w3-card-4 bookTable">
        <thead>
        <tr>
            <th> Kommentáre</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="comment : ${commentList}">
            <table width="80%" class="w3-table-all w3-card-4 bookTable">
                <thead>
                <tr>
                    <th>Kommentár</th>
                </tr>
                </thead>

                <tr>
                    <td>Kniha</td>
                    <td colspan="3"><span th:text="${comment.bookName}"></span></td>
                </tr>
                <tr>
                    <td>Hodnotenie</td>
                    <td colspan="3"><span th:text="${comment.rating}"></span></td>
                </tr>
                <tr>
                    <td colspan="4"><span th:text="${comment.text}"></span></td>
                </tr>
                <tr>
                    <td>Pridal</td>
                    <td><span th:text="${comment.userName}"></span></td>
                    <td>o</td>
                    <td><span th:text="${comment.addedDate}"></span></td>
                </tr>
                <tr>
                    <td>Poznamka</td>
                    <td colspan="3"><span th:text="${comment.reviewerNote}"></span></td>
                </tr>
                <tr>
                    <td>Akceptované</td>
                    <td><span th:text="${comment.accepted}"></span></td>
                    <td>o</td>
                    <td><span th:text="${comment.acceptedDate}"></span></td>
                </tr>
                <tr>
                    <td>Spoiler</td>
                    <td><span th:text="${comment.spoiler}"></span></td>
                </tr>
            </table>
        </tr>
        </tbody>
    </table>
    <p>

    <h1>Pridať komentár</h1>
    <form class="w3-container" method="post" th:action="@{/postComment}" th:object="${comment}">
        <textarea cols="60" name="text" rows="10" type="text"></textarea>
        <br>
        <p>Hodnotenie</p>
        <label>
            <input type="radio" name="rating" value="1"/>1
        </label>
        <label>
            <input type="radio" name="rating" value="2"/>2
        </label>
        <label>
            <input type="radio" name="rating" value="3"/>3
        </label>
        <label>
            <input type="radio" name="rating" value="4"/>4
        </label>
        <label>
            <input type="radio" name="rating" value="5"/>5
        </label>
        <br>
        <p>Spoiler</p>
        <input type="checkbox" name="spoiler"/>
        <br>
        <button class="w3-button w3-red w3-round-large login-button" type="submit">Pridať komentár</button>
        <br>
    </form>
    </p>
</article>
<footer>COPYRIGHT</footer>

</body>

</html>