<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Informačný systém knižnice</title>
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{css/style.css}" type="text/css"/>
</head>

<body>

<header>
    <nav class="menu">
        <ul class="menu">
            <li><a href="#"><strong>Domov</strong></a></li>
            <li><a href="#">Knižnica</a></li>
            <li><a href="#">Komentáre</a></li>
            <li><a href="#">Moje výpožičky</a></li>
            <li><a href="/about">O nás</a></li>
            <li><a href="#">Kontakt</a></li>
        </ul>
    </nav>
</header>

<article>
    <h1>Informačný systém knižnice</h1>

    <h2>
        Pre vstup do knižnice kliknite na tlačidlo Prihlásiť sa
    </h2>

    <a class="btn" href="/login">Prihlásiť sa</a>

    <p>
        Po prihlásení, môžete spravovať svoje výpožičky a pridávať komentáre.
    </p>
</article>
<footer>COPYRIGHT</footer>

</body>

</html>