<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Informačný systém knižnice</title>
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{css/style.css}" type="text/css"/>
    <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">
</head>

<body>

<header>
    <nav>
        <div class="header-div">
            <ul class="menu">
                <li><a href="/"><strong>Domov</strong></a></li>
                <li><a href="/bookList">Knižnica</a></li>
                <li><a href="/comments">Komentáre</a></li>
                <li><a href="/about">Moje výpožičky</a></li>
                <li><a href="/about">O nás</a></li>
                <li><a href="/about">Kontakt</a></li>
                <li><a href="/login" th:text="${loginButton}">Prihlásiť sa</a></li>
            </ul>
        </div>
    </nav>
</header>

<article class="login-article">
    <div>
        <h1>Prihláste sa</h1>

        <form class="w3-container" method="post" th:action="@{/login}" th:object="${user}">

            <label>Email</label>
            <input class="w3-input" id="email" name="email" type="email">

            <label>Heslo</label>
            <input class="w3-input" id="password" name="password" type="password">

            <button class="w3-button w3-red w3-round-large login-button" type="submit">Prihlásiť sa</button>
        </form>
        <a href="/resetPassword">Zabudnuté heslo</a>
        <span> | </span>
        <a href="/signup">Registrovať sa</a>
    </div>
</article>
<footer>COPYRIGHT 2020</footer>

</body>

</html>