<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Informačný systém knižnice</title>
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{css/style.css}" type="text/css"/>
</head>

<body>

<header>
    <nav>
        <ul class="menu">
            <li><a href="/">Domov</a></li>
            <li><a href="/bookList">Knižnica</a></li>
            <li><a href="#">Komentáre</a></li>
            <li><a href="#">Moje výpožičky</a></li>
            <li><a href="/about">O nás</a></li>
            <li><a href="#">Kontakt</a></li>
            <li><a href="/login" th:text="${loginButton}">Prihlásiť sa</a></li>
        </ul>
    </nav>
</header>

<article>
    <h1><span th:text="${title}"></span></h1>

    <h4 th:text="${message}"></h4>
</article>
<footer>COPYRIGHT</footer>

</body>

</html>